$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink: #ffc0cb;
$black: #000;
$lightpink: #faa;


body {
  background-color: $pink;
}

.modal-body,
.modal-header {
  background-color: $lightpink;
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
  text-align: center;
}

.btn {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 480px;
  border-radius: 0;
}

.modal-titles {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.modal-info {
  font-size: 15px;
  text-align: left;
}

.btn-xs {
  width: 70px;
}

#sign-up {
  display: block;
}

#sign-in {
  display: initial;
}

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

h1 {
  clear: both;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  margin-bottom: 8px;
  margin-top: 60px;
  text-align: center;
}

.gameboard {
  background-color: $pink;
  height: 510px;
  margin: 10px auto;
  position: relative;
  visibility: hidden;
  width: 510px;
}

.circle {
  background-color: $black;
  border-radius: 50%;
  color: $pink;
  float: left;
  font-size: 100px;
  height: 150px;
  line-height: -40px;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  visibility: hidden;
  width: 150px;
}

.message {
  font-family: 'Bungee Shade', cursive;
  font-size: 48px;
  margin-bottom: -50;
  text-align: center;
  width: 100%;
}

.restart {
  display: block;
  float: both;
  font-family: 'Bungee Shade', cursive;
  font-size: 28px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  visibility: hidden;
  width: 480px;
}

.total-games {
  display: block;
  float: both;
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  visibility: hidden;
  width: 480px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 500px) {

  .modal {
    margin: auto;
    overflow-y: auto;
    position: relative;
  }

  .btn {
    position: fixed;
    width: 100px;
  }

  .btn-xs {
    width: 70px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: -5px;
    margin-top: 15px;
  }

  .gameboard {
    background-color: $pink;
    display: block;
    margin-top: 20px;
    margin-bottom: -30px;
    position: relative;
    width: 100%;
  }

  .circle {
    background-color: $black;
    border-radius: 50%;
    float: left;
    font-size: 50px;
    height: 18%;
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
  }

  .message {
    font-size: 40px;
    margin-bottom: -10px;
    margin-top: 45px;
  }

  .restart {
    font-size: 25px;
    position:fixed;
    left: 0;
    bottom: 60px;
    width: 100%;
    text-align: center;
  }

  .total-games {
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }

}
