$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink: #ffc0cb;
$black: #000;
$lightpink: #faa;


body {
  background-color: $pink;
}

.modal-body,
.modal-header {
  background-color: $lightpink;
  font-family: 'Josefin Sans', sans-serif;
}

.btn {
  float: right;
}

.modal-titles {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.modal-info {
  font-size: 15px;
  text-align: left;
}

.modal-button {
  font-size: 15px;
  text-align: center;
}

h1 {
  clear: both;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  text-align: center;
}

.gameboard {
  background-color: $pink;
  display: block;
  height: 510px;
  margin: 10px auto;
  position: relative;
  width: 510px;
}

.circle {
  background-color: $black;
  border-radius: 50%;
  color: $pink;
  float: left;
  font-size: 100px;
  height: 150px;
  line-height: -40px;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  width: 150px;
}

.score {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  margin-bottom: 0;
  text-align: center;
}

// .player-1 {
//   float: left;
//   font-family: 'Bungee Shade', cursive;
//   font-size: 60px;
//   margin-top: 10px;
// }
//
// .player-2 {
//   float: right;
//   font-family: 'Bungee Shade', cursive;
//   font-size: 60px;
//   margin-bottom: 30px;
//   margin-top: 10px;
// }

.restart {
  clear: both;
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.message {
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.api-message {
  clear: both;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.show-game-info {
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  margin-top: 15px;
  text-align: center;
}

.total-games {
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
  height: 30px;
  text-align: center;
}

footer {
  clear: both;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  height: 20px;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

@media (max-width: 500px) {
  .user {
    float: right;
    margin-bottom: 5px;
    width: 25px;
  }

  h1 {
    font-size: 35px;
    margin-bottom: -14px;
  }

  .gameboard {
    background-color: $pink;
    display: block;
    height: 320px;
    margin-bottom: 10px;
    position: relative;
    width: 330px;
  }

  .circle {
    background-color: $black;
    border-radius: 50%;
    float: left;
    height: 85px;
    margin-left: 20px;
    margin-top: 20px;
    width: 85px;
  }

  .score {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
  }

  // .player-1 {
  //   float: left;
  //   font-family: 'Bungee Shade', cursive;
  //   font-size: 30px;
  //   margin-top: 10px;
  // }
  //
  // .player-2 {
  //   float: right;
  //   font-family: 'Bungee Shade', cursive;
  //   font-size: 30px;
  //   margin-top: 10px;
  // }

  .restart {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
  }

  footer {
    clear: both;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8px;
    margin-top: 5px;
    text-align: center;
  }

  //need a message setting for iphone
  }
